@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500,900");

:root {

    --font-size-xs: 11px;
    --font-size-s: 15px;
    --font-size-m: 20px;
    --font-size-l: 40px;
    --font-family: "Roboto";

    /* basic colors */
    --black: rgba(0, 0, 0, 1);
    --erie-black: rgba(37, 37, 37, 1);

    --white: rgba(255, 255, 255, 1);
    --cultured-white: rgba(244, 244, 244, 1);

    /* grey colors */
    --onyx-grey: rgba(69, 69, 69, 1);
    --light-grey: rgba(211, 211, 211, 1);

    /* red accent color */
    --indian-red: rgba(255,85,84,1);

    /* lightmode website colors */
    --bg-color: var(--cultured-white);
    --txt-color: var(--black);
    --main-color: var(--white);

    --grey-ac: var(--light-grey);
    --red-ac: var(--indian-red);
}

.dark-mode {

    /* darkmode website colors */
    --bg-color: var(--erie-black);
    --txt-color: var(--white);
    --main-color: var(--black);

    --grey-ac: var(--onyx-grey);
    --red-ac: var(--indian-red);
}

body{
    background-color: var(--bg-color) !important;
}

.navbar{
    background-color: var(--bg-color) !important;
    padding-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.normal-style{
    background-color: var(--bg-color) !important;
    color: var(--txt-color) !important;

}

.active{
    font-weight: bold !important;
}

.border-top{
    border-color: var(--txt-color) !important;
}
.border-bottom{
    border-color: var(--txt-color) !important;
}

.content-box{
    padding: 30px !important;
    height: 100%;
    width: 100%;
}

#cb-cookie-banner {
    color: var(--txt-color) !important;
    background-color: var(--bg-color) !important;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
    display: none;
}

.btn-primary{
    color: var(--txt-color) !important; ;
    background-color: var(--grey-ac) !important;
    border-color: var(--grey-ac) !important;
}

.bi-envelope-fill{
    color: var(--red-ac) !important;
}

.color-icon{
    color: var(--red-ac) !important;
}
