@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500,900");

:root {

    --font-size-xs: 11px;
    --font-size-s: 15px;
    --font-size-m: 20px;
    --font-size-l: 40px;
    --font-family: "Roboto";

    --dark-white:
            rgba(253, 253, 253, 1);
    --all-black:
            rgba(40, 40, 40, 1);

    --background-color: var(--all-black);
}

body{
    height: 100%;
    margin: 30px;
    background-color: var(--background-color) !important;
}
